@font-face {
  font-family: "element-icons"; /* Project id 3257355 */
  src: url('iconfont.woff2?t=1740714454881') format('woff2'),
       url('iconfont.woff?t=1740714454881') format('woff'),
       url('iconfont.ttf?t=1740714454881') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-video:before {
  content: "\e635";
}

.el-icon-figure:before {
  content: "\e693";
}

.el-icon-shuziren:before {
  content: "\e6ba";
}

.el-icon-voice:before {
  content: "\e890";
}

.el-icon-play:before {
  content: "\e618";
}

.el-icon-pause:before {
  content: "\e637";
}

.el-icon-yangshengqi:before {
  content: "\e600";
}

