@font-face {
  font-family: "element-icons"; /* Project id 3257355 */
  src: url('iconfont.woff2?t=1749451179363') format('woff2'),
       url('iconfont.woff?t=1749451179363') format('woff'),
       url('iconfont.ttf?t=1749451179363') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-shengyin:before {
  content: "\e614";
}

.el-icon-jingyin:before {
  content: "\e61d";
}

.el-icon-jingyin_fill:before {
  content: "\e601";
}

.el-icon-shengyin_fill:before {
  content: "\e602";
}

.el-icon-a-ze-bars1:before {
  content: "\e660";
}

.el-icon-view-list:before {
  content: "\ea33";
}

.el-icon-robot:before {
  content: "\e61c";
}

.el-icon-video:before {
  content: "\e635";
}

.el-icon-figure:before {
  content: "\e693";
}

.el-icon-shuziren:before {
  content: "\e6ba";
}

.el-icon-voice:before {
  content: "\e890";
}

.el-icon-play:before {
  content: "\e618";
}

.el-icon-pause:before {
  content: "\e637";
}

.el-icon-yangshengqi:before {
  content: "\e600";
}

